body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
}

.dimensions,
.optional {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.width,
.height {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#error {
    color: red;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
}

.grid-item {
    background-color: white;

    aspect-ratio: 1 / 1;
}

.colored {
    background-color: black;
}