body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

fieldset {
    display: flex;
    align-items: center;
    gap: 8px;
}

#error {
    color: red;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.grid-item {
    background-color: white;

    aspect-ratio: 1 / 1;
}

.colored {
    background-color: black;
}